.subdetails{
    margin-bottom: 100px;
    .logodiv {
        border: 20px solid rgba(245, 141, 136, 0.26);
        background: #FFF;
        padding: 3rem 5rem;
        img{
            padding-right: 5rem;
            width: 35%;
        }
        .pdiv {
            flex-direction: column;
            justify-content: center;
            .textred {
                color: #D9261C;
                margin-bottom: 1rem;
            }
            .textredshort, .textredshort2 {
                color: #D9261C;
                margin-bottom: 1rem;
                display: none;
            }
            .textblack {
                color: #000;
                margin-bottom: 0;
            }
            .textblackshort, .textblackshort2 {
                color: #000;
                margin-bottom: 0;
                display: none;
            }
            p {
                font-family: "Noto Sans KR";
                font-size: 1.25rem;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
    .exdiv {
        margin-top: 50px;
        text-align: center;
        img {
            width: 12%;
            display: block;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        h3 {
            color: #333;
            font-family: "Noto Sans KR";
            font-size: 36px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 50px;
            letter-spacing: -0.8px;
        }
        .p1, .p1short {
            color: #333;
            font-family: "Noto Sans KR";
            font-size: 26px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 100px;
            letter-spacing: -0.8px;
            span {
                color: #D9261C;
            }
        }
        .p2 {
            color: #D9261C;
            font-family: "Noto Sans KR";
            font-size: 40px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 50px;
            letter-spacing: -0.8px;
        }
        .p3, .p3short {
            color: #333;
            font-family: "Noto Sans KR";
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 50px;
            letter-spacing: -0.8px;
        }
        .p1short, .p3short {
            display: none;
        }
    }
    .coffeelist {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        .coffeeitem {
            display: flex;
            width: 46%;
            margin-bottom: 30px;
            padding: 2rem;
            .coffeeimg {
                width: 100px;
                height: auto;
                margin-right: 30px;
            }
            .coffeeinfo {
                display: flex;
                flex-direction: column;
                justify-content: end;
                h3 {
                    margin-bottom: 0.5rem;
                    font-size: 18px;
                    font-family: "Noto Sans KR";
                    font-weight: 600;
                    line-height: normal;
                }
                p {
                    margin: 0;
                    color: #333;
                    font-family: "Noto Sans KR";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.8px;
                }
            }
        }

        .coffeeitem:nth-child(2),
        .coffeeitem:nth-child(4),
        .coffeeitem:nth-child(6){
            flex-direction: row-reverse;
            text-align: right;
            img {
                margin-right: 0;
                margin-left: 30px;
            }
        }

        .coffeeitem:nth-child(1) .coffeeinfo h3 {
            color: #BA752A;
        }
        .coffeeitem:nth-child(2) .coffeeinfo h3 {
            color: #9E7C5D;
        }
        .coffeeitem:nth-child(3) .coffeeinfo h3 {
            color: #BC4C30;
        }
        .coffeeitem:nth-child(4) .coffeeinfo h3 {
            color: #8A492C;
        }
        .coffeeitem:nth-child(5) .coffeeinfo h3 {
            color: #6D2D3D;
        }
        .coffeeitem:nth-child(6) .coffeeinfo h3 {
            color: #A37118;
        }
  
    } 
}

@media (max-width: 1244px) {
    .subdetails{
        .exdiv {
            h3 {
                font-size: 30px;
            }
            .p1 {
                font-size: 20px;
                margin-bottom: 50px;
            }
            .p2 {
                font-size: 30px;
            }
            .p3 {
                font-size: 20px;
            }
        }
        .coffeelist {
            width: 90%;
            .coffeeitem {
                width: 45%;
                padding: 1rem;
                .coffeeinfo {
                    h3 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        } 
    }
}

@media (max-width: 1240px) {
    .subdetails {
        .subdtdiv {
            padding-left: 20px;
            padding-right: 20px;
            .logodiv {
                border: 16px solid rgba(245, 141, 136, 0.26);
                padding: 2rem 3rem;
                img {
                    padding-right: 3rem;
                }
                .pdiv {
                    p {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1036px) {
    .subdetails {
        .subdtdiv {
            .logodiv {
                .pdiv {
                    p {
                        font-size: 0.9rem;
                    }
                }
            }
            .coffeelist {
                flex-direction: column;
                .coffeeitem {
                    width: 80%;
                    padding: 0;
                    .coffeeinfo {
                        h3 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 881px) {
    .subdetails {
        .subdtdiv {
            .logodiv {
                border: 14px solid rgba(245, 141, 136, 0.26);
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 2rem 2rem;
                img {
                    padding-right: 0 !important;
                    margin-bottom: 1rem;
                    width: 200px
                }
            }
        }
    }
}

@media (max-width: 693px) {
    .subdetails{
        .exdiv {
            img {
                width: 70px;
            }
            h3 {
                font-size: 22px;
            }
            .p1 {
                font-size: 1rem;
                margin-bottom: 50px;
            }
            .p2 {
                font-size: 22px;
            }
            .p3 {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 601px) {
    .subdetails {
        .subdtdiv {
            .logodiv {
                border: 10px solid rgba(245, 141, 136, 0.26);
                padding: 1rem 1rem;
                img {
                    width: 160px;
                }
                .pdiv {
                    .textred {
                        display: none;
                    }
                    .textredshort {
                        display: block;
                    }
                    .textblack {
                        display: none;
                    }
                    .textblackshort {
                        display: block;
                    }
                }
            }
            .coffeelist {
                .coffeeitem {
                    img {
                        width: 80px;
                    }
                }
            } 

            .coffeeitem:nth-child(2),
            .coffeeitem:nth-child(4),
            .coffeeitem:nth-child(6){
                flex-direction: row;
                text-align: left;
                img {
                    margin-right: 30px;
                    margin-left: 0;
                }
            }

        }
    }
}

@media (max-width: 558px) {
    .subdetails{
        .exdiv {
            .p1 {
                display: none;
            }
            .p3 {
                display: none;
            }
            .p1short, .p3short {
                display: block;
                color: #333;
                font-family: "Noto Sans KR";
                font-size: 1rem;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.8px;
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 512px) {
    .subdetails {
        .subdtdiv {
            .coffeelist {
                width: 100%;
            } 
        }
    }
}

@media (max-width: 461px) {
    .subdetails {
        .subdtdiv {
            .coffeelist {
                .coffeeitem {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    img {
                        margin-right: 0;
                    }
                    h3 {
                        margin: 0.5rem 0;
                    }
                }
            } 
        }
    }
}

@media (max-width: 437px) {
    .subdetails {
        .subdtdiv {
            .logodiv {
                border: 10px solid rgba(245, 141, 136, 0.26);
                padding: 1rem 1rem;
                img {
                    width: 160px;
                }
                .pdiv {
                    .textredshort {
                        display: none;
                    }
                    .textredshort2 {
                        display: block;
                    }
                    .textblackshort {
                        display: none;
                    }
                    .textblackshort2 {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 355px) {
    .subdetails {
        .subdtdiv {
            .exdiv {
                .p1short, .p3short {
                    font-size: 0.89rem;
                }
            }
        }
    }
}

@media (max-width: 330px) {
    .subdetails {
        .subdtdiv {
            .coffeelist {
                .coffeeitem {
                    img {
                        width: 70px;
                    }
                    p {
                        font-size: 0.9rem !important;
                    }
                }
            } 
        }
    }
}