.subprd {
    margin-bottom: 100px;
    .p {
        color: #333;
        font-family: "Noto Sans KR";
        font-size: 18px;
        font-weight: 600;
    }
    .prdlist {
        display: flex; 
        justify-content: space-between; 
        width: 100%;
        padding: 0;
        .coffee_item {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            text-align: center;
            padding: 38px 0; 
            background-color: #F3EFE9;
            border-radius: 10px;
            border: 1px solid transparent;
            width: calc(20% - 10px);
            img {
                width: 95%;
                padding: 0 3.65vw; 
                margin-bottom: 1.5rem;
                height: auto;
                object-fit: contain;
                transition: transform 0.3s ease;
            }
            p {
                color: #333;
                font-family: "Noto Sans KR";
                font-size: 13px;
                font-weight: 400;
                line-height: normal;
            }
            &:hover {
                border: 1px solid #D9261C;
                img {
                    transform: translateY(-10px); 
                }
                p {
                    color: #D9261C;
                    font-weight: 500;
                }
            }
        }
    }
}