.SubQna {
    margin-bottom: 100px;
    .title {
        margin-bottom: 0.5rem;
        color: #D9261C;
        font-family: "Noto Sans KR";
        font-size: 16px;
        font-weight: 600;
    }
    p {
        color: #333;
        font-family: "Noto Sans KR";
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1rem;
    }
    button {
        display: inline;
    }
}