.subshop {
    padding-top: 200px;
    margin-bottom: 100px;
    .prddiv {
        .prdimg {
            background-color: #D9261C;
            border-radius: 10px;
            padding: 6.844rem 9.688vw;
        }
        .prdtext {
            margin-left: 80px;
            width: 580px;
            p {
                font-family: "Noto Sans KR";
                margin-bottom: 0;
            }
            .absp {
                position: absolute; 
                top: -24px; 
                margin: 0;
                color: #6C6C6C;
                font-size: 13px;
                font-weight: 400;
            }
            .redline {
                border: 2px solid #D9261C;
                margin-bottom: 22px;
            }
            svg {
                path {
                    fill: #666;
                }
                &:hover {
                    path {
                        fill: #D9261C;
                    }
                }
            }
            h3 {
                font-family: "Noto Sans KR";
                font-size: 22px;
                font-weight: 600;
            }
            .pdiv1 {
                width: 100%;
                .p1 {
                    color: #333;
                    font-size: 15px;
                    font-weight: 600;
                }
                .p2{
                    color: #333;
                    font-size: 20px;
                    font-weight: 600;
                    padding-top: 1rem;
                }
            }
            .thinline {
                border: 1px solid #EEE9E9;;
                margin-top: 22px;
            }
            .pdiv2 {
                margin-top: 24px;
            }
            .pdiv2, .pdiv3, .pdiv4{
                width: 100%;
                padding-bottom: 40px;
                .p3{
                    width: 25%;
                    color: #666;
                    font-size: 14px;
                    font-weight: 600;
                }
                .p4, .shorttext {
                    color: #666;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
            .pdiv5 {
                width: 100%;
                position: absolute;
                bottom: 0;
                .p5 {
                    color: #333;
                    font-size: 1rem;
                    font-weight: 600;
                    border: 1px solid #C8C8C8;
                    width: 49%;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.3s;
                }
                .p6 {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 600;
                    background-color: #D9261C;
                    width: 49%;
                    padding: 1rem 0;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.3s;
                    
                }
                .p5, .p6 {
                    &:hover {
                        color: #D9261C;
                        background-color: #fff;
                        border: 1px solid #D9261C;
                    }
                }
            }
        }
    }
}

.numberInput {
    display: flex;
    align-items: center;
    justify-content: end;
    .numberInput__button {
        background-color: transparent;
        border: 1px solid #C8C8C8;
        cursor: pointer;
        font-size: 1rem;
        color: #333;
        &:hover {
            background-color: #e0e0e0;
        }
    }
    .numberInput__value {
        border-top: 1px solid #C8C8C8;
        border-bottom: 1px solid #C8C8C8;
        color: #333;
        font-family: "Noto Sans KR";
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        padding: 1px 0;
        width: 30px;
    }
    p {
        color: #333;
        font-family: "Noto Sans KR";
        font-size: 1rem;
        font-weight: 600;
    }   
    .numberInput__total {
        color: #333;
        font-family: "Noto Sans KR";
        font-size: 22px;
        font-weight: 600;
    }
}

@media (max-width: 1240px) {
    .subshop {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1099px) {
    .subshop {
        .pdiv2, .pdiv3, .pdiv4 {
            .p3 {
                width: 15% !important;
            }
        }
    }
}

@media (max-width: 1024px) {
    .subshop {
        .pdiv2, .pdiv3, .pdiv4 {
            flex-direction: column;
            padding-bottom: 1rem !important;
            .p3 {
               padding-bottom: 0.5rem;
            }
        }
    }
}

@media (max-width: 974px) {
    .subshop {
        .prddiv {
            h3 {
                font-size: 1.2rem !important;
            }
        }
    }
}

@media (max-width: 931px) {
    .subshop {
        .prdtext {
            margin-left: 40px !important;
        }
    }
}

@media (max-width: 881px) {
    .subshop {
        .prdtext {
            margin-left: 20px !important;
        }
    }
}

@media (max-width: 857px) {
    .subshop {
        padding-top: 100px;
        .prddiv {
            flex-direction: column;
            .prdimg {
                padding: 3rem;
                display: flex;
                justify-content: center;
            }
            .prdtext {
                width: 100% !important;
                margin-left: 0 !important;
                margin-top: 2rem;
            }
            .pdiv5 {
                position: static !important;
                bottom: auto;
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width: 447px) { 
    .subshop {
        .prddiv {
            h3 {
                font-size: 1rem !important;
            }
            .pdiv1 {
                .p2 {
                    font-size: 1.2rem !important;
                    padding: 0;
                }
            }
            .pdiv4 {
                .p4 {
                    display: none;
                }
                .shorttext {
                    display: block !important;
                }
            }
        }
    }
}

@media (max-width: 404px) { 
    .subshop {
        .prddiv {
            .pdiv2, .pdiv3, .pdiv4 {
                .p3 {
                    width: auto !important;
                }
            }
        }
    }
}

@media (max-width: 380px) { 
    .subshop {
        .prddiv {
            .hearticon {
                position: absolute !important;
                right: 0;
                top: 23%
            }
            .pdiv1 {
                flex-direction: column;
            }
            .numberInput {
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 335px) { 
    .subshop {
        .prddiv {
            .numberInput {
                p {
                    font-size: 13px;
                }
                .numberInput__total {
                    font-size: 1.2rem;
                }
            }
        }
    }
}