.subtable {
    margin-bottom: 100px;
    p {
        color: #333;
        font-family: "Noto Sans KR";
        font-size: 18px;
        font-weight: 600;
    }
    .tablediv {
        background-color: #F3EFE9;
        border-radius: 10px;
        padding: 2.5rem;
        .table {
            width: 50%;
            tr {
                th {
                    color: #666;
                    font-family: "Noto Sans KR";
                    font-size: 15px;
                    font-weight: 500;
                    padding: 0.3rem;
                }
                td {
                    color: #666;
                    font-family: "Noto Sans KR";
                    font-size: 15px;
                    font-weight: 400;
                    padding: 0.3rem;
                }
            }
        }
    }
}