.subshop {
    padding: 200px 0;
    .prddiv {
        .prdimg {
            padding-left: 74px;
            background-color: #D9261C;
            border-radius: 10px;
            padding: 7.131rem 11.875rem;
            margin-left: 74px;
            img {
                width: 200px;
            }
        }
        .prdtext {
            padding-left: 80px;
            width: 580px;
            p {
                font-family: "Noto Sans KR";
                margin-bottom: 0;
            }
            h3 {
                font-family: "Noto Sans KR";
                font-size: 22px;
                font-weight: 500;
            }
            .pdiv1 {
                width: 100%;
                .p1 {
                    font-size: 15px;
                }
            }       
        }
    }
}