.art {
    margin-bottom: 465px;
    .box {
        position: relative;    
        bottom: 0;
        // max-width: 100vw;
        .videoArea {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2; 
            overflow: hidden;
            img {
                // width: 100vw;
                height: auto;
            }
            .playButton {
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url("../../img/mediaPlayIcon.svg");
                background-size: cover; 
                width: 45px;
                height: 52px;
                border: none; 
                background-color: transparent; 
                cursor: pointer; 
                z-index: 3;
            }
        }
        .textArea {
            position: absolute;
            top: 265px;
            left: 0;
            right: 0;
            background-color: #D9261C; 
            height: 530px;
            width: 100%;
            z-index: 1; 
            text-align: center;
            padding-top: 330px;
            h2 {
                color: #FFF;
                font-size: 38px;
                font-weight: 400;
                line-height: 100%; /* 38px */
                letter-spacing: 15.2px;
                text-align: center;
            }
            .p1 {
                color: #FFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 100%; /* 16px */
                letter-spacing: 3.2px;
                text-align: center;
            }
            .p2 {
                .default_text {
                    color: #FFF;
                    font-family: "Noto Sans KR";
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 140%; /* 22.4px */
                    letter-spacing: -0.8px;
                }
                .short_text {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .art {
        margin-bottom: 365px;
    }
}

@media (max-width: 626px) {
    .art {
        .box {
            .textArea {
                top: 230px;
            }
        }
    }
}

@media (max-width: 480px) {
    .art {
        .box {
            .videoArea {
                .playButton {
                    width: 40px;
                    height: 47px;
                }
            }
            .textArea {
                h2 {
                    font-size: 28px;
                    letter-spacing: 14px;
                }
                .p1 {
                    font-size: 16px;
                }
                .p2 {
                    .default_text {
                        display: none;
                    }
                    .short_text {
                        display: inline;
                        color: #FFF;
                        font-family: "Noto Sans KR";
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 140%;
                        letter-spacing: -0.8px;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .art {
        .box {
            height: 380px;
            .videoArea {
                height: 100%;
            }
            .textArea {
                top: 80px;
                h2 {
                    font-size: 24px;
                }
            }
        }
    }
    
}