.company {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    .comdiv {
        overflow: hidden;
        margin-left: 48px;
        width: 100%;
        max-width: 1920px;
        .comtext {
            h2 {
                font-family: "Noto Sans KR";
                font-size: 29px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: -1.45px;
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.5s ease-out, transform 0.5s ease-out;
                .short_text {
                    display: none;
                }
            } 
        }
    }
    @keyframes slideIn {
        from {
            transform: translateY(50px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .comtext.visible h2 {
        opacity: 1;
        transform: translateY(0);
        animation: slideIn 0.6s ease-out forwards;
    }
}

@media (max-width: 768px) {
    .company {
        margin-bottom: 100px;
        .comdiv {
            margin: 0 20px;
            max-width: 100%;
            .comtext {
                height: auto;
                h2 {
                    font-size: 22px;
                }
            }
            .mobile {
                .imgdiv {
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: right;
                    border-top-right-radius: 30px;
                    overflow: hidden;
                    height: 20vh;
                    max-width: 347.5px;
                    img {
                        float: left;
                        height: 100%;
                        object-fit: cover;
                        object-position: left;
                    }
                    .dark_overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.3);
                        z-index: 1;
                    }
                    .textarea {
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        height: 4rem;
                        background: rgba(255, 255, 255, 0.40);
                        backdrop-filter: blur(2px);
                        h3 {
                            color: #fff;
                            font-size: 1.2rem;
                            font-weight: 400;
                            letter-spacing: -0.6px;
                        }
                        .arrow {
                            display: block;
                            position: absolute;
                            right: 3%;
                            width: 28px;
                            height: 28px;
                            overflow: hidden;
                            svg {
                                position: absolute;
                                right: 0;
                                height: auto !important;
                                &.white {
                                    transition: opacity 0.2s, margin-right 0.2;
                                }
                                &.red {
                                    opacity: 0;
                                    right: 28px;
                                    transition: opacity 0.2s, right 0.2;
                                }
                            }
                            &:hover{
                                svg {
                                    &.white {
                                        animation: arrowAnimationBefore 0.3s forwards;
                                    }
                                    &.red {
                                        animation: arrowAnimationAfter 0.3s forwards 0.3s;
                                    }
                                }
                            }
                        }
                        @keyframes arrowAnimationBefore {
                            from {
                                margin-right: 0;
                                opacity: 1;
                            }
                            to {
                                margin-right: -28px;
                                opacity: 0;
                            }
                        }
                        @keyframes arrowAnimationAfter {              
                            from {
                                right: 28px;
                                opacity: 0;
                            }
                            to {
                                right: 0;
                                opacity: 1;
                            }
                        } 
                    }
                }
            }
        }
    }
    
}

@media (max-width: 670px) {
    .company {
        .comdiv {
            .mobile {
                .imgdiv {
                    max-width: 299px;
                    .textarea {
                        h3 {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 610px) {
    .company {
        .comdiv {
            .comtext {
                h2 {
                    font-size: 20px;
                }
            }
            .mobile {
                .imgdiv {
                    max-width: 270px;
                    .textarea {
                        h3 {
                            font-size: 1rem;
                            margin-left: 16px !important;
                        }
                        .arrow {
                            top : -80%;
                        }
                    }
                }
            }
        }
    } 
}

@media (max-width: 530px) {
    .company {
        .comdiv {
            .comtext {
                h2 {
                    font-size: 18px;
                    .default_text {
                       display: none;
                    }
                    .short_text {
                        display: inline;
                    }
                }
            }
            .mobile {
                .imgdiv {
                    height: 150px;
                    max-width: 230px;
                    .textarea {
                        height: 3rem;
                        .arrow {
                            top : -90%;
                        }
                    }
                }
            }
        }
    } 
}

@media (max-width: 480px) {
    .company {
        margin-top: 100px;
    } 
}

@media (max-width: 430px) {
    .company {
        .comdiv {
            .comtext {
                h2 {
                    font-size: 14px;
                    letter-spacing: -1.6px;
                }
            }
            .mobile {
                .imgdiv {
                    height: 130px;
                    max-width: 190px;
                    .textarea {
                        height: 2.8rem;
                        h3 {
                            margin-left: 10px !important;
                            font-size: 12px;
                        }
                        .arrow {
                            top : -90%;
                            width: 16px;
                        }
                    }
                }
            }
        }
    } 
}

@media (max-width: 320px) {
    .company {
        .comdiv {
            .mobile {
                .imgdiv {
                    height: 100px;
                    max-width: 136px;
                    .textarea {
                        height: 30px;
                        h3 {
                            margin-left: 4px !important;
                        }
                        .arrow {
                            top : -120%;
                        }
                    }
                }
            }
        }
    } 
}
