.contactForm {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .conForm {
        display: flex;
        height: 60vh;
        background-color: #F3EFE9;
        width: 100%;
        max-width: 1920px;
        .formArea {
            margin: 0 auto;
            padding: 0;
            max-width: 960px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .boxWrapper {
                max-width: 400px;
                width: 100%;
                .textbox {
                    h2 {
                        font-family: "Noto Sans KR";
                        font-size: 27px;
                        font-weight: 500;
                    }
                    p {
                        color: #666;
                        font-family: "Noto Sans KR";
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 145%;
                        letter-spacing: -1.2px;
                    }   
                }     
                .form {
                    .form_group {
                        padding: 0;
                        input, textarea, button {
                            padding: 0;
                            width: 100%;
                            border: 1px solid #E8E7E4;
                            color: #666;
                            font-family: "Noto Sans KR";
                            font-size: 15px;
                            font-weight: 400;
                            letter-spacing: -1.2px;
                            margin-bottom: 2px;
                        }
                        .input_field, .btn_field {
                            height: 43px;
                            line-height: 145%;
                        }
                        .msg_field {
                            height: 165px;
                            line-height: 250%;
                        }
                        .btn_field {
                            background-color: #fff;
                            color: #333;
                            font-weight: 500;
                            transition: background-color 0.3s, font-weight 0.3s;
                            &:hover {
                                background-color: #c2c2c2;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .imgArea {
            background-image: url("../../../public/img/contact.jpg");
            background-repeat: no-repeat;
            background-position: center !important;
            background-size: cover;
            width: 50vw;
            max-width: 960px;
        }
    }
}