.contactForm {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .conForm {
        display: flex;
        height: 574px;
        background-color: #F3EFE9;
        width: 100%;
        max-width: 1920px;
        .formArea {
            margin: 0 auto;
            padding: 0;
            max-width: 960px;
            .textbox {
                padding-left: 14.6vw;
                padding-top: 8.5vh;
                h2 {
                    font-family: "Noto Sans KR";
                    font-size: 27px;
                    font-weight: 500;
                }
                p {
                    color: #666;
                    font-family: "Noto Sans KR";
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 145%; /* 21.75px */
                    letter-spacing: -1.2px;
                }   
            }
            .form {
                padding-left: 14.6vw;
                .form_group {
                    padding: 0;
                    .input_field {
                        padding: 0;
                        margin-bottom: 2px;
                        width: 403px;
                        height: 43px;
                        border: 1px solid #E8E7E4;
                        color: #666;
                        font-family: "Noto Sans KR";
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 145%;
                        letter-spacing: -1.2px;
                    }
                    .msg_field {
                        padding: 0;
                        margin-bottom: 2px;
                        width: 403px;
                        height: 165px;
                        border: 1px solid #E8E7E4;
                        color: #666;
                        font-family: "Noto Sans KR";
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 250%;
                        letter-spacing: -1.2px;
                    }
                    .btn_field {
                        padding: 0;
                        width: 403px;
                        height: 43px;
                        border: 1px solid #E8E7E4;
                        background-color: #fff;
                        color: #333;
                        font-family: "Noto Sans KR";
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 145%;
                        letter-spacing: -1.2px;
                        transition: 0.3s;
                        &:hover {
                            background-color: #c2c2c2;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .imgArea {
            background-image: url("../../../public/img/contact.jpg");
            background-repeat: no-repeat;
            background-position: center !important;
            background-size: cover;
            width: 50vw;
            max-width: 960px;
        }
    }
}