.contactForm {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .conForm {
        display: flex;
        height: 60vh;
        background-color: #F3EFE9;
        width: 100%;
        max-width: 1920px;
        .formArea {
            margin: 0 auto;
            padding: 0;
            max-width: 960px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .boxWrapper {
                max-width: 400px;
                width: 100%;
                .textbox {
                    h2 {
                        font-family: "Noto Sans KR";
                        font-size: 27px;
                        font-weight: 500;
                    }
                    p {
                        color: #666;
                        font-family: "Noto Sans KR";
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 145%;
                        letter-spacing: -1.2px;
                    }   
                }     
                .form {
                    .form_group {
                        padding: 0;
                        input, textarea, button {
                            padding: 0;
                            width: 100%;
                            border: 1px solid #E8E7E4;
                            color: #666;
                            font-family: "Noto Sans KR";
                            font-size: 15px;
                            font-weight: 400;
                            letter-spacing: -1.2px;
                            margin-bottom: 2px;
                        }
                        input, textarea {
                            padding-left: 0.7rem;
                        }
                        .input_field, .btn_field {
                            height: 43px;
                            line-height: 145%;
                        }
                        .msg_field {
                            height: 165px;
                            line-height: 250%;
                        }
                        .btn_field {
                            background-color: #fff;
                            color: #333;
                            font-weight: 500;
                            transition: background-color 0.3s, font-weight 0.3s;
                            &:hover {
                                background-color: #c2c2c2;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .imgArea {
            background-image: url("../../../public/img/contact.jpg");
            background-repeat: no-repeat;
            background-position: center !important;
            background-size: cover;
            width: 50vw;
            max-width: 960px;
        }
    }
}

@media (max-width: 1024px) {
    .contactForm {
        .conForm {
            height: 50vh;
            .formArea {
                .boxWrapper {   
                    width: 90%;
                    .form {
                        .form_group {
                            .input_field, .msg_field, .btn_field {
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .contactForm {
        .conForm {
            height: 40vh;
            .formArea {
                display: none;
            }    
            .imgArea {
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;
                .overlayText {
                    display: flex;
                    h2 {
                        color: #fff;
                        font-size: 3rem;
                        font-weight: 300;
                        letter-spacing: 0.3rem;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    }
                    .iconButton {
                        background: none;
                        border: none;
                        cursor: pointer;
                        padding: 0;
                        .arrow {
                            width: 3rem;
                            filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
                        }
                    }
                }
            }
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1000; 
            display: flex;
            justify-content: center;
            align-items: center;
            .formOverlay {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                padding: 3.5rem 2rem;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                width: 90%;
                max-width: 600px; 
                .textbox {
                    margin-bottom: 1rem; 
                    width: 100%;
                    height: 80%;
                    h2 {
                        font-size: 1.8rem;
                        margin-bottom: 0.5rem;
                        color: #333;
                    }
                    p {
                        font-size: 1rem;
                        color: #666;
                    }
                }
                .form {
                    width: 100%;
                    height: 80%;
                    background: #fff;
                    input, textarea, button {
                        margin-bottom: 0.3rem;
                        width: 90%;
                        padding-left: 0.3rem;
                    }
                    textarea {
                        height: 130px;
                    }
                    button {
                        margin-bottom: 0;
                        &:hover {
                            background-color: #c2c2c2;
                            font-weight: 600;
                        }
                    }
                }
                .closeButton {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    background: none;
                    border: none;
                    font-size: 1.5rem;
                    cursor: pointer;
                    z-index: 1002;
                    
                    .closeicon {
                        width: 1.5rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 540px) {
    .contactForm {
        .conForm {
            height: 30vh;
            .imgArea {
                .overlayText {
                    h2 {
                        font-size: 2em;
                        letter-spacing: 0.2rem;
                    }
                    .iconButton {
                        .arrow {
                            width: 2rem;
                        }
                    }
                }
            }
        }
        .overlay {
            .formOverlay {
                flex-direction: column;
                background: #fff;
                .textbox {
                    h2 {
                        font-size: 1.5rem;
                        margin-bottom: 0.3rem;
                        color: #333;
                    }
                    p {
                        font-size: 1rem;
                        color: #666;
                    }
                }
            }
        }
    }
}