.hd {
    position: relative;
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    transition: 0.5s;
    .hddiv {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    &:hover {
        background-color: rgb(255, 255, 255, 0.8);
        a {
            &:hover {
                color: #D9261C !important;
            }
        }
        svg {
            &:hover {
                path {
                    fill: #D9261C;
                }
            }
        }
    }
    h1 {
        width: 0;
        img {
            width: 64px;
        }
    }
    .gnb {
        &:before {
            content: "";
            align-items: center;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 0;
            width: 100%;
            transition: 0.5s ease-out;
            background-color: rgb(255, 255, 255, 0.8);
            border-top: transparent;
        }
        &:hover {
            &:before {
                border-top: 1px solid #bbbbbb;
                height: 180px !important;
            }
        }
        .gnb_d1_li { // 대메뉴
            .gnb_d1_a { 
                font-family: "Roboto Condensed";
                font-size: 1.0625rem;
                font-weight: 500;
                color: #333;
                padding: 40px 0;
            }
            &:hover { 
                ul {     
                    max-height: 180px;

                    > a {
                        color: #D9261C;
                    }
                }
                > a {
                    color: #D9261C;
                }
            }
            
            .d2_ul{ // 소메뉴
                max-height: 0;
                transition: max-height 0.5s; 
                overflow: hidden;
                white-space: nowrap;
                left: -1rem;
                padding: 0 1rem !important;
                border: 0 !important;
                line-height: 2rem;
                letter-spacing: -0.85px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                font-size: 1.0625rem;
                &:before,
                &:after {  
                    content: "";
                    display: block;
                    height: 3rem;
                }
                a {
                    font-family: "Noto Sans KR";
                    font-size: 1.0625rem;
                    font-weight: 500;
                }
                li:hover {
                    > a {
                        color: #D9261C;
                    }
                }
            }
        }
    }
    .iconMenu {
        width: 0;
        li {
            cursor: pointer;
            svg {
                path {
                    fill: #333;
                }
                &:hover {
                    path {
                        fill: #D9261C;
                    }
                }
            }
            a {
                font-family: "Noto Sans KR";
                font-size: 0.875rem;
                font-weight: 500;
                color: #333;
                letter-spacing: -0.85px;
                &:hover {
                    color: #D9261C;
                }
            }
        }
        .search {
            position: relative;
            .searchIconActive {
                    svg path {
                        fill: #D9261C;
                    }
            }
            input {
                position: absolute;
                left: -220px;
                width: 200px;
                border: 1px solid #bbbbbb;
                outline: none;
                font-size: 1rem;
                padding: 5px 10px;
            }
        }
        .list {
            display: none;
        }
    }
    .slideMenu {
        display: none;
    }
}

@media (max-width: 1200px) {
    .hd {
        .iconMenu {
            li {
                a {
                    display: none;
                
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .hd {
        .hddiv {
            background-color: #fff;
        }
        .gnb {
            display: none !important;
        }
        .iconMenu {
            li {
                svg {
                    path {
                        fill: #333;
                    }
                }
            }
            .search {
                display: none !important;
            }
            .list {
                display: block !important;
                button {
                    background-color: transparent;
                    border: none;
                }
            }
        }
        .slideMenu {
            position: fixed;
            top: 0;
            right: -100%; 
            width: 250px;
            height: 100vh;
            background-color: #fff;
            color: #333;
            transition: right 0.3s ease-in-out;
            z-index: 1000;
            padding: 20px;
            display: flex;
            flex-direction: column;
            &.open {
                right: 0; 
            }
            .menuHeader {
                display: flex;
                justify-content: flex-end;
                .closeButton {
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    margin-bottom: 20px;
                    svg {
                        path {
                            fill: #333; 
                        }
                    }
                }
            }   
            .slideGnb {
                list-style: none;
                padding: 0;
                margin: 0;    
                li {    
                    .menuButton {
                        background: none;
                        border: none;
                        color: #333;
                        font-size: 18px;
                        text-align: left;
                        width: 100%;
                        padding: 10px;
                        cursor: pointer;
                        position: relative;
                    }  
                    .arrow {
                        border: solid #333;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 3px;
                        position: absolute;
                        right: 10px;
                        top: 15px;
                        transform: rotate(45deg);
                        transition: transform 0.3s ease;
                    }   
                    .arrowDown {
                        transform: rotate(-135deg);
                    }
                    .subMenu {
                        list-style: none;
                        padding: 1rem 0;
                        margin: 0;
                        padding-left: 2rem;
                        background-color: #e4e4e4;
                        border-radius: 10px;
                        a {
                            color: #333;
                            text-decoration: none;
                            font-size: 18px;
                            display: block;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hd {
        .hddiv {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        h1 {
            width: 0;
            img {
                width: 56px;
            }
        }
    }
}