.main {
    .mainBanner {
        .bgImg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 1920px;
            height: 100vh;
            max-height: 1000px;
            margin: 0 auto;
            background-image: url("../../../public/img/mainImg.jpg");
            background-repeat: no-repeat;
            background-position: center !important;
            background-size: cover;
            .mainTextbox {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-top: 200px;
                .mainText1 {
                    color: #FFF;
                    font-family: "Roboto Condensed";
                    font-size: 38px;
                    font-weight: 400;
                    line-height: 135%;
                    letter-spacing: 5.7px;
                    margin-bottom: 26px;
                }
                .mainText2 {
                    color: #FFF;
                    font-family: "Noto Sans KR";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: -0.9px;
                    margin-bottom: 0;
                }
                .btn {
                    margin-top: 70px;
                }      
            }
        }
    }
}

@media (max-width: 1024px) {
    .main {
        .mainBanner {
            .bgImg {
                max-height: 680px;
                .mainTextbox{
                    padding-top: 100px;
                    .mainText1{
                        font-size: 30px;
                        margin-bottom: 0;
                    }
                    .mainText2{
                        display: none;
                    }
                    .btn {
                        display: none;
                    }      
                }
            }
        }
    }
}