.shop {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    .shopdiv {
        overflow-x: hidden;
        margin-left: 48px;
        width: 100%;
        max-width: 1920px;
        .shoptext {
            // height: 226px;
            h2 {
                font-family: "Noto Sans KR";
                font-size: 29px;
                font-weight: 500;
                line-height: 140%; /* 40.6px */
                letter-spacing: -2.03px;
            }
            p {
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 300;
                line-height: 140%; /* 21px */
                letter-spacing: -0.75px;
                .short_text {
                    display: none;
                }
            }
            .btn {
                margin-top: 60px;
            }
        }
    }
}

@media (max-width: 768px) {
    .shop {
        margin-bottom: 100px;
        .shopdiv {
            margin-left: 20px;
            .shoptext {
                height: auto;
                p {
                    .default_text {
                        display: none;
                    }
                    .short_text {
                        display: inline;
                    }  
                }
                .btn {
                    margin-top: 40px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .shop {
        .shopdiv {
            margin-left: 20px;
            .shoptext {
                height: auto;
                h2 {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    &:after {
                        content: "";
                        flex: 1;
                        border-top: 2px solid #D9261C;
                        margin: 0 10px;
                        width: 100vw;
                    }
                }              
                p {
                    padding-bottom: 20px;
                    font-size: 14px;
                }  
            }
        }
    }
}

@media (max-width: 320px) {
    .shop {
        .shopdiv {
            margin-left: 20px;
            .shoptext {
                h2 {
                    font-size: 20px;
                    &:after {
                        content: "";
                        flex: 1;
                        border-top: 2px solid #D9261C;
                        margin: 0 10px;
                        width: 100vw;
                    }
                }
            }
        }
    }
}