.shop {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    .shopdiv {
        overflow-x: hidden;
        margin-left: 48px;
        width: 100%;
        max-width: 1920px;
        .shoptext {
            height: 226px;
            h2 {
                font-family: "Noto Sans KR";
                font-size: 29px;
                font-weight: 500;
                line-height: 140%; /* 40.6px */
                letter-spacing: -2.03px;
            }
            p {
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 300;
                line-height: 140%; /* 21px */
                letter-spacing: -0.75px;
            }
            .btn {              
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-family: "Noto Sans KR";
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background-color: #D9261C;
                border-radius: 30px;
                width: 160px;
                height: 42px;
                text-align: center;
                letter-spacing: -0.8px;              
            }
        }
    }
}