.story {
    margin-bottom: 200px;
    .inner {
        height: 586px;
        background: #F3EFE9;
        .textArea {
            padding-top: 94px;
            padding-left: 212px;
            h2 {
                font-family: "Noto Sans KR";
                font-size: 29px;
                font-weight: 500;
                line-height: 145%;
                letter-spacing: -2.03px;
            }
            p {
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 300;
                line-height: 145%;
                letter-spacing: -1.2px;
            }
            .btn {              
                margin-top: 60px;
                &::before {
                    background-color: #F3EFE9 !important;
                }            
            }
        }
        .valueAll {
            padding-top: 94px;
            padding-left: 151px;
            .icon_wrapper {
                width: 4rem;
                height: 4rem;
                background-color: #D9261C;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }
            .alldiv {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2rem;
            }
            .mission, .vision, .values, .strategy {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
            }
            h3 {
                font-family: "Noto Sans KR";
                font-size: 24px;
                font-weight: 500;
                line-height: 150%; /* 37.5px */
                letter-spacing: -1.25px;
            }
            p {
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 300;
                line-height: 150%; /* 22.5px */
                letter-spacing: -0.9px;
            }
        }
    }
}